recursive-include dq0/examples/census/_data *
recursive-include dq0/examples/cifar/_data *
recursive-include dq0/examples/har/_data *
recursive-include dq0/examples/medical_insurance/_data *
recursive-include dq0/examples/newsgroups/_data *
recursive-include dq0/examples/pneumonia *
recursive-include dq0/examples/purchase_10_600/_data *
recursive-include dq0/examples/purchase_100_600/_data *

global-exclude *.py[cod]
recursive-exclude __pycache__ *.pyc *.pyo *.orig
