recursive-include dq0/sdk/examples/census/_data *
recursive-include dq0/sdk/examples/cifar/_data *
recursive-include dq0/sdk/examples/har/_data *
recursive-include dq0/sdk/examples/medical_insurance/_data *
recursive-include dq0/sdk/examples/newsgroups/_data *
recursive-include dq0/sdk/examples/pneumonia *
recursive-include dq0/sdk/examples/purchase_10_600/_data *
recursive-include dq0/sdk/examples/purchase_100_600/_data *